@import "../style.css";
/*
  --jade-100: #E6E6E6;
  --jade-200: #BAC8B1;
  --jade-300: #7B9669;
  --jade-400: #6C8480;
  --jade-500: #404E3B;
*/



.folder-search-wrapper {
  width: 100%;
  margin: 20px 0 20px 0;
}

input.folder-search-input {
  box-sizing: border-box;
  width: 440px;
  max-width: 100%;
  height: 52px;

  padding: 12px 18px;

  border: 2px solid #404e3b;
  border-radius: 8px;

  background-color: #f5f5f5;
  color: #404e3b;

  font-size: 18px;
  font-family: inherit;
}

input.folder-search-input::placeholder {
  color: #6b6b6b;
}

input.folder-search-input:focus {
  outline: none;
  border-color: #404e3b;
}
.shared-folder-list {
  padding-top: 20px !important;
}
.file-item a {
  text-decoration: none;
  color: inherit;
}