@import "../style.css";
/*
  --jade-100: #E6E6E6;
  --jade-200: #BAC8B1;
  --jade-300: #7B9669;
  --jade-400: #6C8480;
  --jade-500: #404E3B;
*/
.folder-search-wrapper {
  width: 100%;
  margin: 20px 0;
}

#folderSearch {
  width: 100%;
  max-width: 420px;
  padding: 12px 16px;

  border: 2px solid #404e3b;
  border-radius: 8px;

  font-size: 18px;
}

#folderSearch:focus {
  outline: none;
  border-color: #6c8480;
}