<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Roles viewer</title>
    <link rel="stylesheet" href="css/roles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-yf5A4nTm5Z/..." crossorigin="anonymous" referrerpolicy="no-referrer">
  </head>
  <body>
    <header>

        
    </header>
    <aside>
<nav>
	<h1><a href="/all" class="nav-link <%= currentPage === '/all' ? 'active' : '' %>">All Files</a></h1>
	<h1><a href="/shared" class="nav-link <%= currentPage === '/shared' ? 'active' : '' %>">Shared With Me</a></h1>
	<h1><a href="/owned" class="nav-link <%= currentPage === '/owned' ? 'active' : '' %>">My Files</a></h1>
	<h1><a href="/roles" class="nav-link <%= currentPage === '/roles' ? 'active' : '' %>">Make Roles</a></h1>
</nav>

    </aside>
<main>
    <h1 class="title">Roles for folder 1</h1>
    
    
    <div class="roles-card">
        <div class="admin-wrapper">
            <div class="admin">
                <h1>Admin</h1>
                <div class="roles-actions">
                    <i class="fa-solid fa-user"></i>
                    <h3>3</h3>
                </div>    
                <div class="buttons" >
                    <i class="fa-solid fa-user-plus"></i>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-x"></i>
                </div>
            </div>
        </div>
    </div>

</main>

  </body>
</html>