<div class="users-box">

  <div class="user active-user">
    <div class="profile-pic">
      <img src="./" alt="PP"
        onerror="this.style.display='none'; this.nextElementSibling.style.display='inline-block';">
      <i class="fa-solid fa-user" style="display: none"></i>
    </div>
    <div class="name">Jeff</div>
    <div class="remove">X</div>
  </div>

  <div class="user">
    <div class="profile-pic">
      <img src="./" alt="PP"
        onerror="this.style.display='none'; this.nextElementSibling.style.display='inline-block';">
      <i class="fa-solid fa-user" style="display: none"></i>
    </div>
    <div class="name">Søren</div>
  </div>

  <div class="user">
    <div class="profile-pic">
      <img src="./" alt="PP"
        onerror="this.style.display='none'; this.nextElementSibling.style.display='inline-block';">
      <i class="fa-solid fa-user" style="display: none"></i>
    </div>
    <div class="name">Laura</div>
  </div>

</div>